.PlanetsTable {
  width: 100%;
  margin: 3rem auto;
  color: white;
  display: grid;
  gap: 2rem;

  button {
    padding: 0.5rem;
  }

  .newPlanetContainer {
    text-align: center;
    margin-top: 2rem;
    grid-column: 1 / -1;

    .toggleFormBtn {
      font-size: 2rem;
      font-family: inherit;
      padding: 1rem;
      border-radius: 12px;
      border: 0;
      background-color: silver;
    }
  }
}

@media screen and (min-width: 767.98px) {
  .PlanetsTable {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 899.98px) {
  .PlanetsTable {
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
  }
}
