.PlanetsTable {
  width: 100%;
  margin: 3rem auto;
  color: white;

  .headers {
    display: flex;
    justify-content: space-between;
    width: 100%;

    & > * {
      width: calc(100% / 6);
      text-align: center;
    }
  }

  button {
    padding: 0.5rem;
  }

  .newPlanetContainer {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;

    .toggleFormBtn {
      font-size: 2rem;
      font-family: inherit;
      padding: 1rem;
      border-radius: 12px;
      border: 0;
      background-color: silver;
    }
  }
}

@media screen and (min-width: 899.98px) {
  .PlanetsTable {
    width: 80%;
  }
}
